asgiref==3.5.0
autopep8==1.6.0
certifi==2021.10.8
chardet==3.0.4
defusedxml==0.7.1
Django==4.0.3
django-cleanup==6.0.0
django-excel==0.0.10
django-mapbox-location-field==2.0.0
et-xmlfile==1.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
lml==0.1.0
lxml==4.8.0
odfpy==1.4.1
openpyxl==3.0.9
Pillow==9.0.1
pycodestyle==2.8.0
pyexcel==0.7.0
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyexcel-ods3==0.6.1
pyexcel-odsr==0.6.0
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
python-decouple==3.6
rfc3986==1.5.0
sniffio==1.2.0
sqlparse==0.4.2
texttable==1.6.4
toml==0.10.2
uWSGI==2.0.20
