{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Аналитика оценки качества общественного транспорта в России</title>

  <meta name="description"
    content="Аналитика оценки качества общественного транспорта в российских городах и рейтинга городов России по качеству общественного транспорта.">
  <meta name="subject" content="Аналитика оценки качества общественного транспорта в России.">
  <meta name="abstract" content="Аналитика оценки качества общественного транспорта в России.">
  <meta name="rating" content="General">

  <!------------------------------------------------------------->
  <!--FB--------------------------------------------------------->
  <!------------------------------------------------------------->
  <!-- <meta property="fb:app_id" content="123456789"> -->
  <!-- <meta property="og:url" content="https://example.com/page.html"> -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Аналитика оценки качества общественного транспорта в России">
  <meta property="og:image" content="{% static 'simetra_app/main_page/assets/img/simetra_logo_discrip.png' %}">
  <meta property="og:description"
    content="Аналитика оценки качества общественного транспорта в российских городах и рейтинга городов России по качеству общественного транспорта.">
  <meta property="og:site_name" content="Аналитика оценки качества общественного транспорта в России">
  <meta property="og:locale" content="ru_RU">
  <meta property="article:author" content="Simetra">

  <!--Styles-->
  <link rel="stylesheet" href="{% static 'simetra_app/analytics_page/styles/style.css' %}" />
  <!--Styles-->

  <link rel="apple-touch-icon-precomposed" sizes="57x57"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}"
    sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}"
    sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}"
    sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}"
    sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}"
    sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />
</head>

<body>
  {{ cities_list_json|json_script:"cities-list-json" }}
  <div class="wrapper">
    <header class="header">
      <div class="header__container _container">
        {% include 'simetra_app/navbar.html' %}
      </div>
    </header>

    <main class="page">
      <div class="page__container _container">
        <section name="description" class="page__description _center-block">
          <div class="page__description-header">
            <h2 class="page _customers-blue-color">
              SIMETRA ТРАНСПОРТНЫЙ РЕЙТИНГ
            </h2>
            <h1 class="page">
              Рейтинг <span class="_customers-blue-color">2022</span>
            </h1>
          </div>
          <p class="page__description-main">
            В исследовании покрыто <b>{{ number_of_cities }}</b> городов
            Российской Федерации для оценки качества общественного транспорта.
            При составлении итогового результата исследования были
            задейстованы <b>5</b> ключевых параметров, представленных в
            таблице ниже.
          </p>

          <a
            href="{% url 'simetra_app:methodology' %}"
            class="page__description-link"
          >
            <p class="page__description-footer _center-text-vertically-flexbox">
              УЗНАТЬ БОЛЬШЕ О МЕТОДОЛОГИИ
              <img class="_arrow" src="{% static 'simetra_app/data_base_page/assets/img/chevron-right.svg' %}" alt="Arrow">
            </p>
          </a>
        </section>

        <h1 class="page-title">Аналитика</h1>

        <section>
          <canvas id="top-10"></canvas>
        </section>

        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Центральный федеральный округ</button>
            <div class="block__text"><canvas id="county-1"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Северо-Западный федеральный
              округ</button>
            <div class="block__text"><canvas id="county-2"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Южный федеральный округ</button>
            <div class="block__text"><canvas id="county-3"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Северо-Кавказский федеральный
              округ</button>
            <div class="block__text"><canvas id="county-4"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Приволжский федеральный округ</button>
            <div class="block__text"><canvas id="county-5"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Уральский федеральный округ</button>
            <div class="block__text"> <canvas id="county-6"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Сибирский федеральный округ</button>
            <div class="block__text"><canvas id="county-7"></canvas>
            </div>
          </div>
        </section>
        <section data-spollers class="block">
          <div class="block__item">
            <button tabindex='-1' type='button' data-spoller class="block__title">Дальневосточный федеральный
              округ</button>
            <div class="block__text"> <canvas id="county-8"></canvas>
            </div>
          </div>
        </section>
      </div>
    </main>

    {% include 'simetra_app/footer.html' %}
  </div>

  <script src="{% static 'simetra_app/analytics_page/scripts/menu-burger.js' %}"></script>
  <script src="{% static 'simetra_app/analytics_page/scripts/navbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
  <script src="{% static 'simetra_app/analytics_page/scripts/blank-script.js' %}"></script>
</body>

</html>