<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Настройка</title>
  </head>
  <body>
    <h2>Босс</h2>

    <p><a href="{% url 'simetra_app:create-boss' %}">Добавить нового босса</a></p>

    Список существующих боссов:
    <ul>
      {% for boss in list_of_bosses %}
        <li>
          {{ boss.name }}
          <a href="{% url 'simetra_app:update-boss' boss.id %}">Изменить</a>
          <a href="{% url 'simetra_app:delete-boss' boss.id %}">Удалить</a>
        </li>
      {% endfor %}
    </ul>

    <p>Общее количество боссов: {{ number_of_bosses }}</p>

    <p><a href="{% url 'simetra_app:customization' %}">На главную</a></p>

    <p><a href="{% url 'simetra_app:staff-logout' %}">Выход</a></p>
  </body>
</html>
