{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Настройка</title>
  <!--INCLUDE-->
  <link rel="stylesheet" href="{% static 'simetra_app/customization_page/change-model/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon" sizes="57x57"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-144x144.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/android-icon-192x192.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="96x96"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/favicon-96x96.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16"
    href="{% static 'simetra_app/customization_page/change-model/assets/favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'simetra_app/customization_page/change-model/assets/favicon/manifest.json' %}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage"
    content="{% static 'simetra_app/customization_page/change-model/assets/favicon/ms-icon-144x144.png' %}" />
  <meta name="theme-color" content="#ffffff" />
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__container">
        <nav class="header__menu menu">
          <ul class="menu__list">

            <li class="menu__item">
              <a href="{% url 'simetra_app:customization' %}" class="menu__link _link">На главную</a>
            </li>
            <li class="menu__item">
              <a href="{% url 'simetra_app:staff-logout' %}" class="menu__link _link">Выход</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="page">
      <section class="page__home home">
        <div class="home__container">
          <h1 class="home__title">{{ heading }}</h1>
          {% with 'simetra_app:create-'|add:object_name as creation_link %}
          <p><a class="home__add _link" href="{% url creation_link %}">Добавить новый экземпляр модели</a></p>
          {% endwith %}
          <div class="home__block">
            <h2 class="home__caption">Список существующих моделей:</h2>
            <ul>
              {% for object in list_of_objects %}
              <li class="home__item">
                {{ object.name }}
                <div class="home__options">
                  {% with 'simetra_app:update-'|add:object_name as updating_link %}
                  <a class="home__change _link" href="{% url updating_link object.id %}">Изменить</a>
                  {% endwith %} {% with 'simetra_app:delete-'|add:object_name as deleting_link %}
                  <a class="home__delete _link" href="{% url deleting_link object.id %}">Удалить</a>
                  {% endwith %}
                </div>

              </li>
              {% endfor %}
            </ul>
            {% if is_city == True %}
            <a class="home__load _link" href="{% url 'simetra_app:upload_cities_excel' %}">
              Загрузить данные с помощью .xlsx(ods) файла</a>
            {% endif %}
            <p>Общее количество моделей: {{ number_of_objects }}</p>
          </div>
      </section>
    </main>
  </div>
</body>

</html>