<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Настройка</title>
  </head>
  <body>
    <h2>Сотрудники</h2>
    <p><a href="{% url 'simetra_app:create-employee' %}">Добавить нового сотрудника</a></p> 

    Список существующих сотрудников:
    <ul>
      {% for employee in list_of_employees %}
      <li>
        {{ employee.name }}
        <a href="{% url 'simetra_app:update-employee' employee.id %}">Изменить</a>
        <a href="{% url 'simetra_app:delete-employee' employee.id %}">Удалить</a>
      </li>
      {% endfor %}
    </ul>
    <p>Общее количество сотрудников: {{ number_of_employees }}</p>

    <p><a href="{% url 'simetra_app:customization' %}">На главную</a></p>

    <p><a href="{% url 'simetra_app:staff-logout' %}">Выход</a></p>
  </body>
</html>
