{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Оценка качества общественного транспорта в российском городе «{{name}}» по определенным показателям">
    <meta name="subject" content="Рейтинг города «{{name}}» по качеству общественного транспорта.">
    <meta name="abstract" content="Рейтинг города «{{name}}» по качеству общественного транспорта.">
    <meta name="rating" content="General">

    <title>{{ name }}</title>

    <!--INCLUDE-->
    <link rel="stylesheet" href="{% static 'simetra_app/city_page/styles/style.css' %}" />
    <!--INCLUDE-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}"
        sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}"
        sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}"
        sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}"
        sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}"
        sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage"
        content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo"
        content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo"
        content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo"
        content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo"
        content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />
</head>

<body>
    {{ city_attr_verbose_names_list_json|json_script:"city_attr_verbose_names_list_json" }}
    {{ cities_attrs_by_groups_list_json|json_script:"cities_attrs_by_groups_list_json" }}
    {{ cities_list_json|json_script:"cities-list-json" }}
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                {% include 'simetra_app/navbar.html' %}
            </div>
        </header>

        <main class="page">
            <section class="page__home home">
                <div class="home__container _container">
                    <img class="home__image" src="{{ city.avatar.url }}" alt="City Image" title="Изображение города">
                    <div class="home__info">
                        <h1 class="home__title _title">
                            {{ city.name }}
                        </h1>
                        <div class="home__coordinates">
                            <p>Широта: {{ city.longitude }}</p>
                            <p>Долгота: {{ city.latitude }}</p>
                        </div>
                    </div>

                </div>
            </section>

            <section class="page__quality quality">
                <div class="quality__container _container">
                    <h2 class="quality__title _title">Качественные группы</h2>
                </div>
            </section>

            <section class="page__spatial spatial">
                <div class="spatial__container _container">
                    <h2 class="spatial__title _title">
                        Пространственные характеристики </h2>
                </div>
            </section>


            <section class="page__rolling-stock rolling-stock">
                <div class="rolling-stock__container _container">
                    <h2 class="rolling-stock__title _title">
                        Подвижной состав
                    </h2>
                </div>
            </section>

            <section class="page__routes routes">
                <div class="routes__container _container">
                    <h2 class="routes__title _title">
                        Маршруты
                    </h2>
            </section>

            <section class="page__tariff tariff">
                <div class="tariff__container _container">
                    <h2 class="tariff__title _title">
                        Тарифная система
                    </h2>
                </div>
            </section>

            <section class="page__ungroup ungroup">
                <div class="ungroup__container _container">
                    <h2 class="ungroup__title _title">
                        Несгруппированные свойства
                    </h2>
                </div>
            </section>
        </main>

        {% include 'simetra_app/footer.html' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script src="{% static 'simetra_app/city_page/scripts/blank-script.js' %}"></script>
    <script src="{% static 'simetra_app/city_page/scripts/test-script.js' %}"></script>
</body>

</html>