{% load static %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Настройка</title>
  <!--INCLUDE-->
  <link rel="stylesheet" href="{% static 'simetra_app/customization_page/create-or-update-city/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon" sizes="57x57"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-144x144.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/android-icon-192x192.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="96x96"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/favicon-96x96.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/favicon-16x16.png' %}" />
  <link rel="manifest"
    href="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/manifest.json' %}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage"
    content="{% static 'simetra_app/customization_page/create-or-update-city/assets/favicon/ms-icon-144x144.png' %}" />
  <meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <nav class="header__menu menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="{% url 'simetra_app:customization' %}" class="menu__link _link">На главную</a>
              </li>
              <li class="menu__item">
                <a href="{% url 'simetra_app:staff-logout' %}" class="menu__link _link">Выход</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
  
      <main class="page">
        <div class="page__container">
        <section class="page__home home">
      
      <h1 class="home__title">{{ title }}</h1>
      {{ location_of_city_form.media }}
      <form method="POST">
        {% csrf_token %}
        {{ location_of_city_form }}
        <p class="home__parameter">Город: {{ city_form.name }}</p>
        </section>
        <section class="page__geolocation">
          <h2 class="_subtitle"> Геолокация </h2>
          <p class="home__parameter">Широта (longitude): {{ city_form.longitude }}</p>
          <p class="home__parameter">Долгота (latitude): {{ city_form.latitude }}</p>
        </section>

        <section class="page__groups">
        <h2 class="_subtitle"> Качественные группы (рейтинг 0.0 - 100.0) </h2>
        {% load verbose_names %}
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "rating_security_n_development" %} : {{ city_form.rating_security_n_development }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "rating_comfort_n_convenience" %} : {{ city_form.rating_comfort_n_convenience }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "rating_route_network_efficiency" %} : {{ city_form.rating_route_network_efficiency }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "rating_affordability" %} : {{ city_form.rating_affordability }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "rating_physical_availability" %} : {{ city_form.rating_physical_availability }} </p>
        </section>

        <section class="page__area">
        <h2 class="_subtitle"> Пространственные характеристики </h2>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_population" %}: {{ city_form.num_population }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_UDS" %}: {{ city_form.length_UDS }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "area_active_zone" %}: {{ city_form.area_active_zone }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "traffic_transport" %}: {{ city_form.traffic_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "traffic_metro" %}: {{ city_form.traffic_metro }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_stops_overall" %}: {{ city_form.num_working_stops_overall }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_stops_active_zone" %}: {{ city_form.num_working_stops_active_zone }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_of_apartments" %}: {{ city_form.num_of_apartments }} </p>
        <p class="home__parameter"> Доля домов в зоне покрытия (%): ??? (не могу найти) </p>
        <p class="home__parameter"> Доля населения в зоне покрытия (%): ??? (не могу найти) </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "area_stops_coverage_active_zone" %}: {{ city_form.area_stops_coverage_active_zone }} </p>
        <p class="home__parameter"> Доля домов в зоне покрытия метрополитеном (%): ??? (не могу найти) </p>
        <p class="home__parameter"> Доля населения в зоне покрытия метрополитеном (%): ??? (не могу найти) </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "area_metro_coverage" %}: {{ city_form.area_metro_coverage }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "density_stops_active_zone" %}: {{ city_form.density_stops_active_zone }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_transport_covered_area" %}: {{ city_form.percent_transport_covered_area }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_metro_covered_area" %}: {{ city_form.percent_metro_covered_area }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_people_metro_access" %}: {{ city_form.num_people_metro_access }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_people_metro_access" %}: {{ city_form.percent_people_metro_access }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_people_transport_access" %}: {{ city_form.num_people_transport_access }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_people_transport_access" %}: {{ city_form.percent_people_transport_access }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_avrg_between_stops" %}: {{ city_form.length_avrg_between_stops }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_death_toll" %}: {{ city_form.num_death_toll }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_wounded" %}: {{ city_form.num_wounded }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_accidents" %}: {{ city_form.num_accidents }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_accidents_per_unit" %}: {{ city_form.num_accidents_per_unit }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_wounded_per_accident" %}: {{ city_form.num_wounded_per_accident }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_wndd_n_dead_per_people" %}: {{ city_form.num_wndd_n_dead_per_people }} </p>
        </section>


        <section class="page__composition">
        <h2 class="_subtitle"> Подвижной состав </h2>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_tramway_cars" %}: {{ city_form.num_tramway_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_trollebuses" %}: {{ city_form.num_trollebuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_electrobuses" %}: {{ city_form.num_electrobuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_buses" %}: {{ city_form.num_buses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_metro_cars" %}: {{ city_form.num_metro_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_tramway_cars" %}: {{ city_form.num_working_tramway_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_trollebuses" %}: {{ city_form.num_working_trollebuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_electrobuses" %}: {{ city_form.num_working_electrobuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_buses" %}: {{ city_form.num_working_buses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_working_metro_cars" %}: {{ city_form.num_working_metro_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_tramway_cars" %}: {{ city_form.percent_working_tramway_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_trollebuses" %}: {{ city_form.percent_working_trollebuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_electrobuses" %}: {{ city_form.percent_working_electrobuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_buses" %}: {{ city_form.percent_working_buses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_metro_cars" %}: {{ city_form.percent_working_metro_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_buses_registry" %}: {{ city_form.num_buses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_very_big_buses_registry" %}: {{ city_form.num_very_big_buses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_big_buses_registry" %}: {{ city_form.num_big_buses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_medium_buses_registry" %}: {{ city_form.num_medium_buses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_small_buses_registry" %}: {{ city_form.num_small_buses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_trollebuses_registry" %}: {{ city_form.num_trollebuses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_big_trollebuses_registry" %}: {{ city_form.num_big_trollebuses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_very_big_trollebuses_registry" %}: {{ city_form.num_very_big_trollebuses_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_tramway_cars_registry" %}: {{ city_form.num_tramway_cars_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_big_tramway_cars_registry" %}: {{ city_form.num_big_tramway_cars_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_very_big_tramway_cars_registry" %}: {{ city_form.num_very_big_tramway_cars_registry }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "avrg_age_tramway_car" %}: {{ city_form.avrg_age_tramway_car }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "avrg_age_trolleybus" %}: {{ city_form.avrg_age_trolleybus }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "avrg_age_bus" %}: {{ city_form.avrg_age_bus }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "avrg_age_electrobus" %}: {{ city_form.avrg_age_electrobus }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "avrg_age_metro_car" %}: {{ city_form.avrg_age_metro_car }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_low_profile_tramway_cars" %}: {{ city_form.num_low_profile_tramway_cars }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_low_profile_trolleybuses" %}: {{ city_form.num_low_profile_trolleybuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_low_profile_buses" %}: {{ city_form.num_low_profile_buses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_low_profile_electrobuses" %}: {{ city_form.num_low_profile_electrobuses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_new_GET" %}: {{ city_form.num_new_GET }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_new_buses" %}: {{ city_form.num_new_buses }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_low_profile_transport" %}: {{ city_form.percent_low_profile_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_big_capacity_transport" %}: {{ city_form.percent_big_capacity_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_elctro_transport" %}: {{ city_form.percent_elctro_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_working_transport" %}: {{ city_form.percent_working_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_renew_program" %}: {{ city_form.percent_renew_program }} </p>
        </section>

        <section class="page__routes">
        <h2 class="_subtitle"> Маршруты </h2>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_in_use_tramway_routes" %}: {{ city_form.num_in_use_tramway_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_in_use_trolleybus_routes" %}: {{ city_form.num_in_use_trolleybus_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_in_use_bus_routes" %}: {{ city_form.num_in_use_bus_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_in_use_overall_routes" %}: {{ city_form.num_in_use_overall_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_regulated_routes" %}: {{ city_form.num_regulated_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_unregulated_routes" %}: {{ city_form.num_unregulated_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "share_unregulated_routes" %}: {{ city_form.share_unregulated_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_avrg_tramway_route" %}: {{ city_form.length_avrg_tramway_route }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_avrg_trolleybus_route" %}: {{ city_form.length_avrg_trolleybus_route }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_avrg_bus_route" %}: {{ city_form.length_avrg_bus_route }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_existing_tramway_routes" %}: {{ city_form.length_existing_tramway_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_in_use_tramway_routes" %}: {{ city_form.length_in_use_tramway_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_existing_trolleybus_routes" %}: {{ city_form.length_existing_trolleybus_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_in_use_trolleybus_routes" %}: {{ city_form.length_in_use_trolleybus_routes }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "length_overall_unrailed_path" %}: {{ city_form.length_overall_unrailed_path }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_tramway_routes_isolation" %}: {{ city_form.percent_tramway_routes_isolation }} </p>
        <p class="home__parameter"> 17. ***перспективные атрибуты по ВП, обсуждается: (???) не нашел </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_tramway_net_use" %}: {{ city_form.percent_tramway_net_use }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "percent_trolleybus_net_use" %}: {{ city_form.percent_trolleybus_net_use }} </p>
        <p class="home__parameter"> 20. Количество сегментов, работающих в режиме средней загрузки: (???) не нашел </p>
        <p class="home__parameter"> 21. Количество сегментов, работающих в режиме повышенной нагрузки: (???) не нашел </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "time_avrg_waiting_any_transport" %}: {{ city_form.time_avrg_waiting_any_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "time_avrg_waiting_specific_transport" %}: {{ city_form.time_avrg_waiting_specific_transport }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "route_coefficient" %}: {{ city_form.route_coefficient }} </p>
        <p class="home__parameter"> Коэффициент непрямолинейности маршрутов НОТ: (???) не нашел </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "transport_app_existance" %}: {{ city_form.transport_app_existance }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "real_time_internet_movement_information" %}: {{ city_form.real_time_internet_movement_information }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "transport_movement_schedule_website" %}: {{ city_form.transport_movement_schedule_website }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "transport_route_net_map" %}: {{ city_form.transport_route_net_map }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "unique_transporte_style" %}: {{ city_form.unique_transporte_style }} </p>
        </section>

        <section class="page__rate">
        <h2 class="_subtitle"> Тарифная система </h2>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "salary_avrg" %}: {{ city_form.salary_avrg }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "income_avrg" %}: {{ city_form.income_avrg }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "salary_avrg" %}: {{ city_form.salary_avrg }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "ratio_ticket_cost_income" %}: {{ city_form.ratio_ticket_cost_income }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_routes_with_ticket" %}: {{ city_form.num_routes_with_ticket }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "num_routes_with_transfer_ticket" %}: {{ city_form.num_routes_with_transfer_ticket }} </p>
        <p class="home__parameter"> 7. Социально - ориентированный тариф: (???) не нашел </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "cost_one_travel_ticket" %}: {{ city_form.cost_one_travel_ticket }} </p>
        <p class="home__parameter"> 9. Стоимость проезда с учетом максимальной скидки: (???) не нашел </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "cost_transfer_ticket" %}: {{ city_form.cost_transfer_ticket }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_universal_transport_card" %}: {{ city_form.bool_universal_transport_card }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_online_payment" %}: {{ city_form.bool_online_payment }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_nfc_payment" %}: {{ city_form.bool_nfc_payment }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_transfer_tariff" %}: {{ city_form.bool_transfer_tariff }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_day_tariff" %}: {{ city_form.bool_day_tariff }} </p>
        <p class="home__parameter"> {% get_verbose_field_name city_form.instance "bool_long_time_tariff" %}: {{ city_form.bool_long_time_tariff }} </p>
      </section>
        <input class="home__submit" type="submit" value="Сохранить" />
      </form>

      Заполнить поля автоматически:
      <button name="sumbit-new-city">Заполнить</button>

  </main>
  </div>
  </div>

    <script src="{% static 'simetra_app/customization_page/scripts/fill_name_field.js' %}"></script>
  </body>
</html>
