{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Настройка</title>
  <!--INCLUDE-->
  <link rel="stylesheet"
    href="{% static 'simetra_app/customization_page/create-or-update-employee/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="{% url 'simetra_app:customization' %}" class="menu__link _link">На главную</a>
            </li>
            <li class="menu__item">
              <a href="{% url 'simetra_app:staff-logout' %}" class="menu__link _link">Выход</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="page">
      <section class="page__home home">
        <div class="home__container">
          <h1 class="home__title">{{ title }}</h1>
          <div class="home__block">
            <form method="POST">
              {% csrf_token %}
              <p class="home__input-block"><span class="home__descr">Полное имя:</span> {{ employee_form.name }}</p>
              <p class="home__input-block"><span class="home__descr">Позиция:</span> {{ employee_form.position }}</p>
              <p class="home__input-block"><span class="home__descr">Аватар:</span>{{ employee_form.image }}</p>
              <input class="home__submit" type="submit" value="Сохранить" />
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>