{% load static %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Компания SIMETRA разработала методику оценки качества общественного транспорта в российских городах и составила рейтинг городов России по качеству общественного транспорта.">
  <meta name="subject" content="Рейтинг городов России по качеству общественного транспорта.">
  <meta name="abstract" content="Рейтинг городов России по качеству общественного транспорта.">
  <meta name="rating" content="General">


  <title>Рейтинг городов России по качеству общественного транспорта</title>



  <!--Styles-->
  <link rel="stylesheet" href="{% static 'simetra_app/main_page/styles/style.css' %}" />
  <!--Styles-->

  <link rel="apple-touch-icon-precomposed" sizes="57x57"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}"
    sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}"
    sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}"
    sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}"
    sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}"
    sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />

  <!-- Include Map -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container _container">
        {% include 'simetra_app/navbar.html' %}
      </div>
    </header>

    <main class="page">
      <section class="page__home home">
        <div class="home__container _container">
          <div class="home__body">
            <h1 class="home__title">
              Рейтинг городов России <span class="_highlight">по качеству общественного транспорта 2021 г.</span>
            </h1>
            <div class="home__text">
              Сравнение {{ number_of_cities }} российских городов по 51 показателю
            </div>
            <button class="home__button _button" type="button">
              Посмотреть аналитику
            </button>
          </div>
        </div>
        <div class="home__image _ibg">
          <img src="https://thumb.tildacdn.com/tild6661-3966-4433-b033-656461616564/-/format/webp/1024-576-max.jpg"
            alt="Фоновое изображение" title="Изображение дорожного движения"/>
        </div>
      </section>

      <section class="page__comments comments">
        <div class="comments__container _container">
          {% for boss in bosses_list %}
          <div class="comments__content">
            <img class="comments__image" src="{{ boss.image.url }}" alt="Изображение руководителя" title="{{ boss.name }}"/>
            <div class="comments__text-image">
              <h3 class="comments__initials"><b>{{ boss.name }}</b></h3>
              <h4 class="comments__position">{{ boss.position }}</h4>
              <p class="comments__paragraph">— {{ boss.quote }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="page__about about">
        <div class="about__container _container">
          <h2 class="about__title _title ">ОБ ИССЛЕДОВАНИИ</h2>
          <div class="about__content">
            <div class="about__text-image">
              <p class="about__paragraph">
                Рейтинг городов России по качеству общественного транспорта
                это в первую очередь научное исследование систем общественного
                транспорта, которое проводилось во взаимодействии с
                администрациями российских городов на основе открытых данных и
                геопространственного анализа. Качество транспортного
                обслуживания оценивалось по пяти группам показателей:
              </p>
              <ul class="about__list">
                <li class="about__item">физическая доступность</li>
                <li class="about__item">ценовая доступность</li>
                <li class="about__item">
                  эффективность транспортной системы
                </li>
                <li class="about__item">комфорт и удобство</li>
                <li class="about__item">
                  безопасность и устойчивость развития
                </li>
              </ul>
              <p class="about__paragraph">
                На основании этих показателей определялся общий рейтинг
                городов.
              </p>
            </div>
            <img class="about__image"
              src="https://thumb.tildacdn.com/tild3034-3938-4134-b564-346335383363/-/resize/720x/-/format/webp/Simetra-rating-gorod.jpg"
              alt="Изображение" title="Постер"/>
          </div>
          <div class="about__video">
            <div class="about__youtube-video">
              <iframe src="https://www.youtube.com/embed/J3V9WDdIEDY" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="about__text-video">
              <p class="about__paragraph">
                Вместе с урбанистом <b>Аркадием Гершманом</b> поговорили о
                географии нового рейтинга, проблеме данных, маршрутках как
                виде бизнеса, успешных и не очень удачных транспортных
                реформах, о том, как воспринимают рейтинг простые пассажиры и
                почему общественный транспорт — это в первую очередь политика.
              </p>
              <p class="about__paragraph">Время просмотра — 40 минут.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="page__statistics statistics">
        <div class="statistics__container _container">
          <div class="statistics__body">
            <h2 class="statistics__title _title ">
              В 2020 году SIMETRA впервые провела подобное исследование в
              России и его главными результатами стали следующие цифры.
            </h2>
            <ul class="statistics__list">
              <li class="statistics__item">
                <h3 class="statistics__number">{{ number_of_cities }}</h3>
                <p class="statistics__text">
                  Городов России приняли участие в исследовании
                </p>
              </li>
              <li class="statistics__item">
                <h3 class="statistics__number">4000</h3>
                <p class="statistics__text">
                  Столько раз была скачана электронная версия исследования
                </p>
              </li>
              <li class="statistics__item">
                <h3 class="statistics__number">8000</h3>
                <p class="statistics__text">
                  Общий охват профильной аудитории, кто знаком с исследованием
                </p>
              </li>
            </ul>
          </div>
          <div class="statistics__image _ibg">
            <img src="https://static.tildacdn.com/tild3435-3661-4335-b464-656538666332/petersburg-2805505-m.jpg"
              alt="Фоновое изображение" title="Изображение дорожного движения"/>
          </div>
        </div>
      </section>

      <section class="page__map map">
        <div class="map__container _container">
          <h2 id="main__map" class="analysis__title _title ">
            <span class="_highlight">ГЕОГРАФИЯ</span> ИССЛЕДОВАНИЯ В 2021 ГОДУ
          </h2>

          <div id='map' style='height: 80vh;'></div>
          <!-- The secure way to give a key without any leak -->
          {{ mapbox_access_token|json_script:"mapbox-access-token" }}
          {{ cities_list_json|json_script:"cities-list-json" }}
          <script src="{% static 'simetra_app/main_page/scripts/map.js' id="mapbox-access-token" type="application/json" %}"></script>
        </div>
      </section>

      <section class="page__best best">
        <div class="best__container _container">
          <h2 class="best__title _title ">
            <span class="_highlight">ТОП</span> ЛУЧШИХ ГОРОДОВ РОССИИ
            <span class="_highlight">В 2021 ГОДУ</span>
          </h2>
          <ul class="best__list">
            <li class="best__item city">
              <img class="city__image" src="https://static.tildacdn.com/tild6438-3565-4339-b765-626465383737/__1.jpg"
                alt="Изображение Екатеринбурга" title="Екатеринбург"/>
              <p class="city__place">1 место</p>
              <h3 class="city__title">ЕКАТЕРИНБУРГ</h3>
            </li>
            <li class="best__item city">
              <img class="city__image" src="https://static.tildacdn.com/tild6333-3835-4634-b332-373966303537/6.jpg"
                alt="Изображение Перми" title="Пермь"/>
              <p class="city__place">2 место</p>
              <h3 class="city__title">ПЕРМЬ</h3>
            </li>
            <li class="best__item city">
              <img class="city__image"
                src="https://static.tildacdn.com/tild3034-3038-4365-b166-633266316465/thumb_453797_1800_12.jpg"
                alt="Изображение Казани" title="Казань"/>
              <p class="city__place">3 место</p>
              <h3 class="city__title">КАЗАНЬ</h3>
            </li>
            <li class="best__item city">
              <img class="city__image"
                src="https://static.tildacdn.com/tild3435-6639-4135-b063-336664653836/DSC03277.jpg"
                alt="Изображение Ижевска" title="Ижевск"/>
              <p class="city__place">4 место</p>
              <h3 class="city__title">ИЖЕВСК</h3>
            </li>
          </ul>
        </div>
      </section>

      <section class="page__analysis analysis">
        <div class="analysis__container _container">
          <h2 class="analysis__title _title ">
            ГРАФИЧЕСКИЙ АНАЛИЗ ГОРОДОВ
          </h2>
          <ul class="analysis__list">
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
            <li class="analysis__item employee"></li>
          </ul>
        </div>
      </section>

      <section class="page__download download">
        <div class="download__container _container">
          <div class="download__body">
            <h2 class="download__title _title ">
              Скачать рейтинг 2021г.
            </h2>
            <h3 class="download__subtitle">
              Ответьте всего на пять вопросов и получите рейтинг за 2021 год.
            </h3>
            <button class="download__button _button" type="button">
              Получить рейтинг
            </button>
          </div>
          <div class="statistics__image _ibg">
            <img src="https://static.tildacdn.com/tild6163-3265-4535-a463-633938383564/1024-683-max.jpg"
              alt="Фоновое изображение" title="Изображение дорожного движения"/>
          </div>
        </div>
      </section>

      <section class="page__team team">
        <div class="team__container _container">
          <h2 id="main__team" class="team__title _title ">
            Мы собрали и обработали для вас
            <span class="_highlight">данные </span>этого
            <span class="_highlight">рейтинга</span>
          </h2>
          <h3 class="team__subtitle">Авторы</h3>
          <ul class="team__list">
            {% for employee in employees_list %}
            <li class="team__item employee">
              <img class="employee__image" src="{{ employee.image.url }}" alt="Изображение сотрудника" title="{{ employee.name }}"/>
              <p class="employee__initials">{{ employee.name }}</p>
              <h3 class="employee__position">{{ employee.position }}</h3>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>

    {% include 'simetra_app/footer.html' %}
  </div>
  </div>
  <script src="{% static 'simetra_app/main_page/scripts/menu-burger.js' %}"></script>
  <script src="{% static 'simetra_app/main_page/scripts/navbar.js' %}"></script>
</body>

</html>