{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Методология оценки качества общественного транспорта в российских городах для составила рейтинга городов России по качеству общественного транспорта.">
  <meta name="subject" content="Методология оценки качества общественного транспорта.">
  <meta name="abstract" content="Методология оценки качества общественного транспорта.">
  <meta name="rating" content="General">
  <title>Методология оценки качества общественного транспорта</title>


  <!--INCLUDE-->
  <link rel="stylesheet" href="{% static 'simetra_app/methodology_page/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}"
    sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}"
    sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}"
    sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}"
    sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}"
    sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo"
    content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container _container">
        {% include 'simetra_app/navbar.html' %}
      </div>
    </header>

    <main class="page">
      <section class="page__approaches approaches">
        <div class="approaches__container _container">
          <h1 id="approaches" class="approaches__title _title">
            Подходы к составлению рейтинга
          </h1>
          <p class="approaches__info _info">
            В представленной работе мы рассмотрели 76 систем общественного
            транспорта в России. Москва и Санкт-Петербург в рейтинг не
            включены намеренно в силу существенных отличий от других городов
            России. Этот рейтинг – первый опыт такого исследования, и по мере
            совершенствования методик, продолжения поиска и налаживания
            контактов на местах его охват, безусловно, будет расширяться.
          </p>
          <a class="approaches__link" target="_blank" href="https://cloud.simetragroup.ru/s/qHNs8Y7jWWz33Ak" title="Посмотреть рейтинг 2020 г.">
            Рейтинг 2020 г.
          </a>
        </div>
      </section>

      <section class="page__choice choice">
        <div class="choice__container _container">
          <h2 id="choice" class="choice__title _title">
            Выбор показателей и сбор исходных данных
          </h2>
          <p class="choice__info _info">
            Ключевым при создании любого рейтинга является этап формирования
            перечня учитываемых параметров. Транспортная наука позволяет
            исследователям оперировать достаточно широким спектром
            показателей, однако при этом неизбежно приходится сталкиваться с
            разного рода трудностями, прежде всего – связанными с отсутствием,
            неполнотой данных или несопоставимостью методик их сбора, и
            вынужденно отказываться от рассмотрения тех или иных факторов.
          </p>

          <div class="choice__content">
            <div class="choice__text">
              <p class="choice__paragraph">
                Особое внимание хочется обратить на первую группу показателей.
                Современные подходы к разработке документов транспортного
                планирования повсеместно включают в себя обязательную
                разработку мультимодальных транспортных моделей, что
                предусматривает оценку части из этих показателей (при
                разработке КСОДД, ПКРТИ) или всего пула критериев, применимых
                непосредственно к системе общественного транспорта (при
                разработке КСОТ).
              </p>
              <p class="choice__paragraph">
                Такие документы в последние несколько лет были разработаны
                практически для всех крупных городов, но значительная часть
                результатов соответствующих научно-исследовательских работ
                оказывается недоступной для ознакомления. Такая ситуация в
                значительной мере сдерживает развитие системы открытых данных
                в масштабах всей страны и ограничивает аналитические
                возможности научного сообщества.
              </p>
            </div>
            <img class="choice__image"
              src="https://thumb.tildacdn.com/tild6434-6433-4162-b462-653165643530/-/resize/720x/-/format/webp/2.jpg"
              alt="Изображение фуникулера" title="Фуникулер"/>
          </div>

          <div class="choice__content">
            <img class="choice__image image__order"
              src="https://thumb.tildacdn.com/tild6638-6565-4161-b430-323366353838/-/resize/720x/-/format/webp/_21.png"
              alt="Изображение трамвая" title="Трамвай"/>
            <div class="choice__text text__order">
              <p class="choice__paragraph">
                Особняком в этой части стоят критерии качества
                администрирования транспортных систем в широком значении этого
                понятия, так как они в значительной степени определяют
                потенциал их развития. К этой группе могут быть отнесены, как
                минимум, форматы взаимоотношений исполнительной власти
                муниципалитетов и регионов и различные аспекты финансирования
                транспорта.
              </p>
              <p class="choice__paragraph">
                Однако, в силу недоступности равнозначных по достоверности и
                составу цифровых данных для большого числа городов и сложности
                объективной количественной оценки качественных характеристик,
                от включения этого раздела было решено отказаться.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="page__payment payment">
        <div class="payment__container _container">
          <div class="payment__body">
            <h2 id="payment" class="payment__title _title">
              Включенные в расчет параметры
            </h2>
            <p class="payment__info">
              Итоговый перечень включает в себя 40 необходимых и доступных для
              анализа параметров качества транспортного обслуживания,
              объединенных в пять качественных групп:
            </p>
            <ol class="payment__list">
              <li class="payment__item">
                <span class="_highlight">Физическая доступность.</span>
                <p class="payment__paragraph">
                  К этой группе отнесены показатели, характеризующие близость
                  остановочных пунктов относительно мест проживания жителей и
                  мест притяжения. Их анализ показывает, как быстро
                  потенциальный пассажир может добраться до ближайшей
                  остановки, а также до места назначения.
                </p>
              </li>
              <li class="payment__item">
                <span class="_highlight">Ценовая доступность.</span>
                <p class="payment__paragraph">
                  Характеризует качество обслуживания через призму финансовых
                  возможностей потенциальных пассажиров. Ключевой мерой
                  сравнения в данной группе выбран социально обоснованный
                  тариф (СОТ) – стоимость разового билета, рассчитанная с
                  учетом средневзвешенных душевых доходов населения. СОТ
                  определяется исходя из предположения предельно допустимых
                  трат на общественный транспорт в размере не более 7% от
                  доходов населения и совершения 52 поездок на общественном
                  транспорте в течение месяца, что установлено в качестве
                  нормы в месячной корзине потребителя. Этот показатель может
                  быть не оптимален, однако он закреплен в нормативной базе
                  РФ, что позволяет использовать его в качестве опорного для
                  дальнейших расчетов
                </p>
              </li>
              <li class="payment__item">
                <span class="_highlight">Эффективность транспортной сети.</span>
                <p class="payment__paragraph">
                  В данный блок включены параметры системы общественного
                  транспорта, имеющие непосредственное отношение к процессу
                  перевозки пассажира внутри транспортного средства. Основная
                  масса входящих в группу показателей прямым или косвенным
                  образом оценивают одну из самых важных составляющих качества
                  транспортного обслуживания – скорость перемещения.
                </p>
              </li>
              <li class="payment__item">
                <span class="_highlight"> Группа «Комфорт и удобство».</span>
                <p class="payment__paragraph">
                  Закономерно представлена наибольшим количеством параметров.
                  Сюда входят тарифная система и функциональность транспортной
                  карты, сервисы информирования о работе транспортной системы,
                  имиджевая составляющая и, безусловно, характеристики
                  подвижного состава. Это множество «крупных мелочей», которые
                  обеспечивают внешнюю привлекательность транспортной системы.
                </p>
              </li>
              <li class="payment__item">
                <span class="_highlight">Безопасность и устойчивое развитие.</span>
                <p class="payment__paragraph">
                  Включает в себя показатели, характеризующие потенциальные
                  риски использования общественного транспорта для пассажира.
                  В группу также входят показатели, связанные с экологической
                  обстановкой в городе (состояние электротранспорта), что
                  одновременно является гарантом устойчивого развития
                  территории за счет наличия альтернативных видов транспорта и
                  существующих возможностей к их быстрому расширению и, при
                  необходимости, к конверсии в магистральные виды. Кроме того,
                  мы отнесли к данной категории рейтинг, сформированный на
                  основе общественного мнения, т. к. психологическое
                  восприятие жителями качества транспортного обслуживания
                  принципиальным образом может влиять на дальнейшее развитие
                  транспортной системы с позиций перераспределения
                  пассажирских потоков между общественным и индивидуальным
                  транспортом.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </section>

      <section class="page__sources sources">
        <div class="sources__container _container">
          <div class="sources__body">
            <h2 id="sources" class="sources__title _title">
              Источники данных, использованные для анализа
            </h2>
            <p class="sources__info">
              Ниже приведены источники данных использованные для анализа. Их
              можно условно отнести к трем категориям:
            </p>
            <ol class="sources__list">
              <li class="sources__item">
                <p class="sources__paragraph">
                  <span class="_highlight">Программные средства ГИС-анализа и
                    поисково-информационные картографические службы</span>, с применением которых в первую очередь
                  связано получение
                  статистических пространственных данных о параметрах
                  транспортной сети в границах активной зоны города, под
                  которой нами понимается совокупность пространственных
                  формирований, освоенных и функционально приспособленных
                  преимущественно в целях проживания и хозяйственной
                  деятельности человека. Это понятие несколько шире «ядра
                  агломерации», так как помимо главного, в него может
                  включаться еще и ряд близко расположенных локальных ядер.
                </p>
              </li>
              <li class="sources__item">
                <p class="sources__paragraph">
                  <span class="_highlight">Официальные источники </span>открытых данных, к которым относятся данные
                  государственной
                  статистики и публикуемые администрациями крупных городов
                  материалы. Среди них есть материалы Федеральной службы
                  государственной статистики (Росстат), программы
                  социально-экономического развития городов, реестры
                  муниципальных и межмуниципальных маршрутов регулярных
                  перевозок, документы транспортного планирования (ПКРТИ,
                  КСОДД, КСОТ), документы территориального планирования и
                  другие.
                </p>
              </li>
              <li class="sources__item">
                <p class="sources__paragraph">
                  <span class="_highlight">Сторонние источники </span>, среди
                  которых представлен широкий спектр материалов – от
                  региональных новостных порталов до независимых тематических
                  проектов. Это уникальные в своем роде ресурсы: общественный
                  проект «МинЖКХ»; «Городской электротранспорт» – крупнейшая
                  база данных подвижного состава и фотогалерея городского
                  электротранспорта России и мира; порталы «Автобусный
                  транспорт» и «Buspictures» – крупнейшие базы данных
                  подвижного состава и фотогалереи автобусов России; проекты
                  «Выделенные полосы в России. Рейтинг городов» и «Трамвайные
                  системы России. Рейтинг по обособлению путей».
                </p>
              </li>
            </ol>
          </div>
        </div>
      </section>

      <section class="page__system system">
        <div class="system__container _container">
          <h2 id="system" class="system__title _title">Система оценки</h2>
          <p class="system__paragraph">
            Очевидно, что группы показателей, как и сами показатели внутри
            данных групп, влияют на привлекательность общественного транспорта
            не в равной степени, поэтому для них были определены весовые
            коэффициенты, которые учитывались при формировании рейтинга. Для
            их определения был проведен опрос, в котором предлагалось оценить
            значимость каждой группы показателей, а также оценить внутри них
            каждый из показателей.
          </p>
          <p class="system__paragraph">
            При подготовке были сформированы две независимые группы
            респондентов: коллектив компании SIMETRA; консолидированная группа
            экспертов в области транспортного планирования, участников
            Ассоциации транспортных инженеров (АТИ), а также неравнодушных к
            развитию транспортных систем (участие в опросе приняли более 100
            человек). В ходе сравнения результатов опросов не было выявлено
            существенных различий в структуре формируемых на их основе наборов
            весовых коэффициентов, что дало основания использовать в качестве
            базы для определения весовых коэффициентов обобщенные результаты
            исследований.
          </p>
          <p class="system__paragraph">
            Баллы между группами показателей распределяются в соответствии с
            их значимостью, определенной по результатам опроса. Затем
            присвоенный каждой группе балл распределяется между показателями
            группы аналогичным образом. Итоговые значения рассчитанных
            коэффициентов приведены в таблице 2.
          </p>
          <p class="system__paragraph">
            Для определения нормативных показателей качества транспортного
            обслуживания были рассмотрены актуальные документы и методические
            рекомендации, действующие на территории России, реальные
            практические примеры устойчивых транспортных систем европейских
            городов (Мюнхен, Прага, Варшава, Лион и др.) и экспертные оценки
            транспортных инженеров о том, каким нормативам должна
            удовлетворять оптимально развивающаяся система общественного
            транспорта. В результате было сформировано видение «идеального
            города», качество общественного транспорта которого оценивается в
            100 баллов. Показатели всех других городов оцениваются в
            соответствующей пропорции к референтным значениям. К преимуществам
            данного подхода можно отнести единую «систему координат»,
            возможность отслеживать динамику и количественно оценивать темпы
            изменений.
          </p>
          <p class="system__paragraph">
            Результаты оценки каждого из участвующих в рейтинге городов
            представлены в виде лепестковых диаграмм, где ширина лепестка
            соответствует весу группы критериев, а заполнение – проценту от
            максимального балла, набранному по показателям группы. Для каждого
            города приведена общая качественная оценка.
          </p>
          <p class="system__paragraph">
            При подготовке рейтинга использовались данные за 2019 год, при
            наличии – на декабрь или IV квартал 2019 года.
          </p>
          <a class="system__link" href="{% url 'simetra_app:main' %}" title="Перейти на главную">
            На главную
          </a>
        </div>
      </section>
    </main>

    {% include 'simetra_app/footer.html' %}
  </div>
  <script src="{% static 'simetra_app/main_page/scripts/menu-burger.js' %}"></script>
</body>

</html>