{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Авторизация</title>
  <!--INCLUDE-->
  <link rel="stylesheet" href="{% static 'simetra_app/staff-login/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon" sizes="57x57"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-144x144.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="{% static 'simetra_app/staff-login/assets/favicon/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192"
    href="{% static 'simetra_app/staff-login/assets/favicon/android-icon-192x192.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32"
    href="{% static 'simetra_app/staff-login/assets/favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="96x96"
    href="{% static 'simetra_app/staff-login/assets/favicon/favicon-96x96.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16"
    href="{% static 'simetra_app/staff-login/assets/favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'simetra_app/staff-login/assets/favicon/manifest.json' %}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage"
    content="{% static 'simetra_app/staff-login/assets/favicon/ms-icon-144x144.png' %}" />
  <meta name="theme-color" content="#ffffff" />
</head>

<body>

  <div class="wrapper">
    <main class="page">
      <section class="page__home home">
        <div class="home__container">
          <div class="home__block home__login">
            <h1 class="home__title">Введите данные для авторизации</h2>
              <form method="POST">
                {% csrf_token %}

                <div class="home__box-input">
                  <input type="text" name="username" required>
                  <label>Секретный логин</label>
                </div>
                <div class="home__box-input">
                  <input type="text" name="password" required>
                  <label>Секретный пароль</label>
                </div>

                <input class="home__submit" type="submit" value="Принять" />


                <!-- <p class="home__field">Секретный логин:</p> <input class="home__input" type="text" name="username"
                  placeholder="Введите логин" required />
                <p class="home__field">Секретный пароль: <input class="home__input" type="text" name="password"
                    placeholder="Введите пароль" required /></p> -->

              </form>

              {% for message in messages %}
              <p id="messages">{{ message }}</p>
              {% endfor %}


          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>