<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
  </head>
  <body>
    <main>
      <h2>Введите данные для авторизации</h2>
      <form method="POST">
        {% csrf_token %}
        <p>Секретное имя: <input type="text" name="username" /></p>
        <p>Секретный ключ: <input type="text" name="password" /></p>
        <input type="submit" value="Принять" />
      </form>

      {% for message in messages %}
        <p id="messages">{{ message }}</p>
      {% endfor %}
    </main>
  </body>
</html>
