{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Авторизация</title>
  <!--INCLUDE-->
  <link rel="stylesheet" href="{% static 'simetra_app/staff-login/styles/style.css' %}" />
  <!--INCLUDE-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'simetra_app/general_assets/favicon/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-196x196.png' %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'simetra_app/general_assets/favicon/favicon-128.png' %}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'simetra_app/general_assets/favicon/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{% static 'simetra_app/general_assets/favicon/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{% static 'simetra_app/general_assets/favicon/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{% static 'simetra_app/general_assets/favicon/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{% static 'simetra_app/general_assets/favicon/mstile-310x310.png' %}" />
</head>

<body>

  <div class="wrapper">
    <main class="page">
      <section class="page__home home">
        <div class="home__container">
          <h1 class="home__title">Введите данные для авторизации</h2>
            <form method="POST" autocomplete="off">
              {% csrf_token %}
              <div class="home__box-input">
                <input type="password" name="username" autocomplete="off" required>
                <label>Секретный логин</label>
              </div>
              <div class="home__box-input">
                <input type="password" name="password" autocomplete="off" required>
                <label>Секретный пароль</label>
              </div>

              <input class="home__submit" type="submit" value="Принять" />
            </form>

            {% for message in messages %}
            <p id="messages">{{ message }}</p>
            {% endfor %}
        </div>
      </section>
    </main>
  </div>
</body>

</html>