@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  background-color: #6f80ff;
  color: #ffffff;
}

section {
  padding: 10px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
  padding: 20px 15px;
  margin-bottom: 30px;
  background-color: #37407F;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mapboxgl-map {
  border-radius: 8px;
  margin: 20px 0px;
}

#map {
  padding: 10px;
  border-radius: 5px;
}

input[type="text"],
input[type="number"] {
  margin: 15px 0px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

button[name="sumbit-new-city"] {
  padding: 10px;
  border-radius: 5px;
  font-size: inherit;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 15px 0px;
  background-color: #37407f;
  color: white;
}

button[name="sumbit-new-city"]:hover {
  color: #ffb259;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._link {
  display: block;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

._link:hover {
  color: #ffb259;
}

._subtitle {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 370px) {
  ._subtitle {
    font-size: 24px;
  }
}

/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: absolute;
  border-bottom: 4px solid white;
  background-color: #ffb259;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 20px;
  gap: 20px 30px;
}

.menu__link {
  font-size: inherit;
  color: #2433a6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: white;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__container {
  padding: 100px 0px 40px 50px;
  max-width: 1000px;
}

@media (max-width: 1050px) {
  .page__container {
    padding: 100px 20px 40px 20px;
  }
}

.home__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 30px;
}

.home__input-block {
  margin-bottom: 20px;
}

.home__input-block input {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.home__submit {
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: inherit;
  background-color: #ffb259;
  cursor: pointer;
}

.home__submit:hover {
  color: white;
}

.home__fill {
  margin: 15px 0px;
  line-height: 130%;
}
/*# sourceMappingURL=style.css.map */