._close-button {
  font-weight: bold;
  float: right;
  transition: 0.3s;
}

._close-button:hover {
  cursor: pointer;
  color: black;
}

._customized-bootstrap-message {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 14px !important; 
}

.message {
  max-width: 90%;
  border-radius: 10px;
  margin-bottom: 50px;
}

ul {
  margin-bottom: 0;
}
