@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__menu {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__color {
  background-color: rgba(0, 0, 0, 0.9);
}

.menu {
  width: 100%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 30px;
}

.menu a:focus {
  -webkit-box-shadow: 0 0 5px 5px #6f80ff;
          box-shadow: 0 0 5px 5px #6f80ff;
}

.menu__logo {
  width: 200px;
}

.menu__item {
  font-size: 24px;
}

.menu__item a {
  padding: 5px;
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/
body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1150px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }
  .menu__body {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0px;
    font-size: 35px;
  }
  .menu__contacts {
    font-size: 35px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }
  .menu__link {
    font-size: 40px;
  }
}

/*--------------------------------------------------------*/
/*-----FOOTER---------------------------------------------*/
/*--------------------------------------------------------*/
.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.footer__item a {
  display: block;
  margin-bottom: 30px;
}

.footer__item a:focus {
  -webkit-box-shadow: 0 0 5px 5px #6F81FF;
          box-shadow: 0 0 5px 5px #6F81FF;
}

.footer__logo {
  max-width: 250px;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}

.footer__text:last-child {
  margin-bottom: 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.social__item svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__item svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social__item a {
  border-radius: 50%;
  display: block;
}

.social__item a:focus {
  -webkit-box-shadow: 0 0 5px 7px #6F81FF;
          box-shadow: 0 0 5px 7px #6F81FF;
}

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

._highlight {
  color: #6f80ff;
}

._link {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

._link:hover {
  color: #6f80ff;
}

._button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 500px;
  font-size: 20px;
  padding: 20px 50px;
  background-color: #6f80ff;
  color: #ffffff;
  font-weight: 600;
}

._button:hover {
  background-color: #ffffff;
  color: #6f80ff;
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #37407f;
}

/*-------------------------------------------------------------*/
/*-----MAIN----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page-title {
  padding-top: 150px;
  padding-bottom: 120px;
  z-index: 5;
  font-size: 36px;
  text-align: center;
}

canvas {
  margin-bottom: 100px;
}
