@import "../../general_styles/_nullstyle";
@import "../../general_styles/_header";
@import "../../general_styles/_footer";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
$blue-color: #6f80ff;
$white-color: #ffffff;
$black-color: #000000;

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

._title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  @media (max-width: 600px) {
    font-size: 32px;
  }
}

._link {
  color: $white-color;
  transition: 0.3s;
  &:hover {
    color: $blue-color;
  }
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;

  &:hover {
    background: #37407f;
  }
}


/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}
.home__container {
  padding: 150px 0px 150px 0px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 50px 100px;
}

.home {
  &__image {
    flex: 1 1 40%;
    height: 400px;
    border: 5px solid black;
  }

  &__info {
    flex: 1 1 40%;
  }

  &__title {
    margin: 0 auto;
    font-size: 50px;
    margin-bottom: 30px;
  }

  &__coordinates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px;
  }
}

/*-------------------------------------------------------------*/
/*-----Canvas--------------------------------------------------*/
/*-------------------------------------------------------------*/
canvas {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.labels {
  color: white;
}
/*-------------------------------------------------------------*/
/*-----Quality-------------------------------------------------*/
/*-------------------------------------------------------------*/
.quality {
  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}


/*-------------------------------------------------------------*/
/*-----Spatial-------------------------------------------------*/
/*-------------------------------------------------------------*/

.spatial {
  background-color: #37407f;
  color: white;

  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}


/*-------------------------------------------------------------*/
/*-----Rolling-stock-------------------------------------------*/
/*-------------------------------------------------------------*/


.rolling-stock {
  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}




/*-------------------------------------------------------------*/
/*-----Routes--------------------------------------------------*/
/*-------------------------------------------------------------*/

.routes {
  background-color: #37407f;
  color: white;

  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Tariff-------------------------------------------------*/
/*-------------------------------------------------------------*/

.tariff {
  &__container {
    padding: 100px 0px;
  }

  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Unused--------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__unused {
}
.unused {
}
.unused__container {
}
._container {
}
.unused__title {
}
._title {
}

.unused__wrapper {
  background-color: $blue-color;
  padding: 50px 30px;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
}

.unused__wrapper h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  @media (max-width: 360px) {
    font-size: 26px;
  }
}

.unused__list li {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 130%;
  @media (max-width: 360px) {
    font-size: 20px;
  }
}