@import "../../general_styles/_nullstyle";
@import "../../general_styles/_header";
@import "../../general_styles/_footer";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

@import url("{% load static %}");
/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
$blue-color: #6f80ff;
$white-color: #ffffff;
$black-color: #000000;

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 40px;
  @media (max-width: 767px) {
    padding: 0px 20px;
  }
}

._title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  @media (max-width: 600px) {
    font-size: 32px;
  }
}

._link {
  color: $white-color;
  transition: 0.3s;
  &:hover {
    color: $blue-color;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;

  &:hover {
    background: #1c1c1c;
  }
}

/*-------------------------------------------------------------*/
/*-----Modal---------------------------------------------------*/
/*-------------------------------------------------------------*/
.overlay {
  display: none;
  position: fixed;
  padding: 0px 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 10px;
  right: 10px;
  padding: 40px 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 15px 1px black;
  border-radius: 20px;

  @media (max-width: 400px) {
    padding: 40px 10px;
  }

  &__content {
    font-size: 40px;
    color: black;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}

.material-icons-outlined {
  color: black;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}
.page__home {
  margin-bottom: 50px;
}

.home {
  &__container {
    height: 100vh;
    position: relative;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__info {
    display: inline-block;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 40px;
    margin: auto 0 20px 0;
    padding: 20px 40px;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    @media (max-width: 767px) {
      left: 20px;
      padding: 20px 20px;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 40px;
    }
  }

  &__coordinates p {
    font-size: 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Charts--------------------------------------------------*/
/*-------------------------------------------------------------*/
._chart-wrapper {
  max-width: 950px;
  max-height: 950px;
  margin: 0 auto;
  margin-bottom: 100px;
}

canvas {
  width: 100%;
  height: 100%;
  @media (max-width: 420px) {
  }
}

/*-------------------------------------------------------------*/
/*-----Quality-------------------------------------------------*/
/*-------------------------------------------------------------*/
.quality {
  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Spatial-------------------------------------------------*/
/*-------------------------------------------------------------*/

.spatial {
  background-color: #1c1c1c;
  color: white;

  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Rolling-stock-------------------------------------------*/
/*-------------------------------------------------------------*/

.rolling-stock {
  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Routes--------------------------------------------------*/
/*-------------------------------------------------------------*/

.routes {
  background-color: #1c1c1c;
  color: white;

  &__container {
    padding: 100px 0px;
  }

  & canvas:last-child {
    margin-bottom: 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Tariff--------------------------------------------------*/
/*-------------------------------------------------------------*/

.tariff {
  &__title {
    margin-bottom: 20px;
  }

  .ungrouped__wrapper {
    padding: 0px;
  }

  &__container {
    padding: 100px 0px;
  }
}

/*-------------------------------------------------------------*/
/*-----Unused--------------------------------------------------*/
/*-------------------------------------------------------------*/

.unused__wrapper {
  background-color: $blue-color;
  padding: 50px 30px;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
}

.unused__wrapper h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  @media (max-width: 360px) {
    font-size: 26px;
  }
}

.unused__list li {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 130%;
  @media (max-width: 360px) {
    font-size: 20px;
  }
}

/*-------------------------------------------------------------*/
/*-----Ungroup properties--------------------------------------*/
/*-------------------------------------------------------------*/

.ungrouped__wrapper {
  padding: 50px 30px;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}

.ungrouped__table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

.ungrouped__table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
  color: black;
  font-size: 22px;
}

.ungrouped__table td {
  border: 1px solid #dddddd;
  padding: 10px;
  font-size: 22px;
}

.ungrouped__table tr:nth-child(odd) {
  background: #dddddd;
  color: black;
}
.ungrouped__table tr:nth-child(even) {
  background: #6f81ff;
}

.ungrouped__table caption {
  color: black;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  @media (max-width: 360px) {
    font-size: 26px;
  }
}