@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*-----FOOTER---------------------------------------------*/
/*--------------------------------------------------------*/
.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.footer__logo {
  max-width: 250px;
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}

.footer__text:last-child {
  margin-bottom: 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.social .social__item svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social .social__item svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

._title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  ._title {
    font-size: 32px;
  }
}

._link {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

._link:hover {
  color: #6f80ff;
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #37407f;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home__container {
  padding: 150px 0px 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px 100px;
}

.home__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  height: 400px;
  border: 5px solid black;
}

.home__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.home__title {
  margin: 0 auto;
  font-size: 50px;
  margin-bottom: 30px;
}

.home__coordinates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 40px;
}

/*-------------------------------------------------------------*/
/*-----Canvas--------------------------------------------------*/
/*-------------------------------------------------------------*/
canvas {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.labels {
  color: white;
}

/*-------------------------------------------------------------*/
/*-----Quality-------------------------------------------------*/
/*-------------------------------------------------------------*/
.quality__container {
  padding: 100px 0px;
}

.quality canvas:last-child {
  margin-bottom: 0px;
}

/*-------------------------------------------------------------*/
/*-----Spatial-------------------------------------------------*/
/*-------------------------------------------------------------*/
.spatial {
  background-color: #37407f;
  color: white;
}

.spatial__container {
  padding: 100px 0px;
}

.spatial canvas:last-child {
  margin-bottom: 0px;
}

/*-------------------------------------------------------------*/
/*-----Rolling-stock-------------------------------------------*/
/*-------------------------------------------------------------*/
.rolling-stock__container {
  padding: 100px 0px;
}

.rolling-stock canvas:last-child {
  margin-bottom: 0px;
}

/*-------------------------------------------------------------*/
/*-----Routes--------------------------------------------------*/
/*-------------------------------------------------------------*/
.routes {
  background-color: #37407f;
  color: white;
}

.routes__container {
  padding: 100px 0px;
}

.routes canvas:last-child {
  margin-bottom: 0px;
}

/*-------------------------------------------------------------*/
/*-----Tariff-------------------------------------------------*/
/*-------------------------------------------------------------*/
.tariff__container {
  padding: 100px 0px;
}

.tariff__container {
  padding: 100px 0px;
}

.tariff canvas:last-child {
  margin-bottom: 0px;
}

/*-------------------------------------------------------------*/
/*-----Unused--------------------------------------------------*/
/*-------------------------------------------------------------*/
.unused__wrapper {
  background-color: #6f80ff;
  padding: 50px 30px;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
}

.unused__wrapper h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .unused__wrapper h3 {
    font-size: 26px;
  }
}

.unused__list li {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 130%;
}

@media (max-width: 360px) {
  .unused__list li {
    font-size: 20px;
  }
}
