@charset "UTF-8";
/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #6f80ff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: absolute;
  border-bottom: 4px solid white;
  background-color: #ffb259;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 20px;
  gap: 20px 30px;
}

.menu__link {
  font-size: 25px;
  color: #2433a6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: white;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home {
  color: #ffffff;
  padding: 150px 0px 300px 0px;
  text-align: center;
}

.home__title {
  font-weight: bold;
  line-height: 130%;
  margin-bottom: 40px;
  font-size: calc( 28px + 22 * ((100vw - 320px) / 1080));
}

.models__item:not(:last-child) {
  margin-bottom: 35px;
}

.models__link {
  display: inline-block;
  line-height: 150%;
  font-size: calc( 24px + 16 * ((100vw - 320px) / 1080));
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.models__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.models__boss::before {
  content: "";
  background: url("../assets/img/boss.png") no-repeat;
  background-size: contain;
  margin-right: 5px;
  padding: 0px 30px;
}

@media (max-width: 1000px) {
  .models__boss::before {
    padding: 0px 20px;
  }
}

.models__boss::before:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.models__city::before {
  content: "";
  background: url("../assets/img/city.png") no-repeat;
  background-size: contain;
  margin-right: 5px;
  padding: 0px 30px;
}

@media (max-width: 1000px) {
  .models__city::before {
    padding: 0px 20px;
  }
}

.models__city::before:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.models__employee::before {
  content: "";
  background: url("../assets/img/employee.png") no-repeat;
  background-size: contain;
  margin-right: 5px;
  padding: 0px 30px;
}

@media (max-width: 1000px) {
  .models__employee::before {
    padding: 0px 20px;
  }
}

.models__employee::before:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 30px 0px;
}

.footer__logo {
  max-width: 250px;
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  line-height: 150%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.social .social__item svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social .social__item svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
