@import "../../general_styles/_nullstyle";
@import "../../general_styles/_header";
@import "../../general_styles/_footer";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
$blue-color: #6f80ff;
$white-color: #ffffff;
$black-color: #000000;

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.header {
  position: static;
}
/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 40px;
  @media (max-width: 767px) {
    padding: 0px 20px;
  }
}

._title {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  margin-bottom: 80px;
  max-width: 760px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 200px;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
  }
  @media (max-width: 481px) {
    font-size: 48px;
  }
  @media (max-width: 376px) {
    font-size: 38px;
  }
}

._info {
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 130%;
  margin-bottom: 80px;
}

._highlight {
  font-weight: 500;
  color: #6f81ff;
}

._link {
  color: $white-color;
  transition: 0.2s;
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;

  &:hover {
    background: #37407f;
  }
}

/*-------------------------------------------------------------*/
/*-----Approaches----------------------------------------------*/
/*-------------------------------------------------------------*/

.approaches {
  padding: 110px 0px 100px 0px;
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
  color: $black-color;
  &__image {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__link {
    display: block;
    margin: 80px auto 0 auto;
    max-width: 250px;
    text-align: center;
    padding: 20px 30px;
    transition: 0.3s;
    background-color: $blue-color;
    color: $white-color;
    font-weight: 500;
    border: 2px solid $blue-color;
    &:hover {
      background-color: $white-color;
      color: $blue-color;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Choice--------------------------------------------------*/
/*-------------------------------------------------------------*/

.choice {
  padding: 50px 0px;

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 60px;
    margin-bottom: 90px;
  }

  &__text {
    max-width: 580px;
    line-height: 140%;
  }

  &__paragraph {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__image {
    max-width: 360px;
    border-radius: 5px;
  }
}

@media (max-width: 1020px) {
  .image__order {
    order: 1;
  }
}

/*-------------------------------------------------------------*/
/*-----Payment-------------------------------------------------*/
/*-------------------------------------------------------------*/
.payment {
  padding: 50px 0px;

  &__body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 960px;
  }

  &__info {
    font-size: 26px;
    margin-bottom: 45px;
    line-height: 140%;
  }


  &__item {
    list-style-type: none;
    margin-bottom: 30px;
    line-height: 140%;
    &:last-child {
      margin-bottom: 0px;
    }

    & h3 {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 24px;
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    &:first-child h3::before {
      background-color: #FFCE56;
    }

    &:nth-child(2) h3::before {
      background-color: #4BC0C0;
    }

    &:nth-child(3) h3::before {
      background-color: #B18AE0;
    }

    &:nth-child(4) h3::before {
      background-color: #36A2EB;
    }

    &:nth-child(5) h3::before {
      background-color: #FF6384;
    }
  }

  &__paragraph {
    padding-left: 30px;
    text-indent: 20px;
    line-height: 130%;
  }
}

/*-------------------------------------------------------------*/
/*-----Sources-------------------------------------------------*/
/*-------------------------------------------------------------*/
.sources {
  padding: 50px 0px;

  &__info {
    font-size: 26px;
    margin-bottom: 45px;
    line-height: 130%;
  }

  &__body {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__list {
    padding-left: 30px;
  }

  &__item {
    margin-bottom: 30px;
    list-style-type: none;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__paragraph {
    line-height: 140%;
    &::before {
      content: "";
      background: url(../assets/img/free-icon-magnifying-glass-5220195.png)
        no-repeat center/contain;
      padding: 20px;
      margin-right: 10px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Approaches----------------------------------------------*/
/*-------------------------------------------------------------*/

.system {
  padding: 50px 0px 80px 0px;
  max-width: 770px;
  margin: 0 auto;

  &__paragraph {
    line-height: 130%;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    display: block;
    margin: 80px auto 0 auto;
    max-width: 250px;
    text-align: center;
    padding: 20px 30px;
    transition: 0.3s;
    background-color: $blue-color;
    color: $white-color;
    font-weight: 500;
    border: 2px solid $blue-color;
    &:hover {
      background-color: $white-color;
      color: $blue-color;
    }
  }
}
