@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
$blue-color: #6f80ff;
$white-color: #ffffff;
$black-color: #000000;

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1280px;
  margin: 70px auto 40px;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

._main-title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 20px auto 50px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

._highlight {
  color: $blue-color;
}

._link {
  color: $white-color;
  transition: 0.3s;

  &:hover {
    color: $blue-color;
  }
}

._button {
  transition: 0.3s;
  max-width: 500px;
  font-size: 26px;
  padding: 30px 60px;
  border-radius: 8px;
  background-color: $blue-color;
  color: $white-color;
  font-weight: 600;

  &:hover {
    background-color: $white-color;
    color: $blue-color;
  }

  @media (max-width: 768px) {
    padding: 25px 55px;
    font-size: 22px;
  }

  @media (max-width: 600px) {
    padding: 20px 45px;
    font-size: 18px;
  }

  @media (max-width: 365px) {
    padding: 20px 45px;
    font-size: 14px;
  }
}


#toTop {
  width: 50px;
  height: 50px;
  z-index: 100;
  border: 3px solid $blue-color;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  color: $blue-color;
  font-family: verdana;
  font-size: 11px;

  @media (max-width: 530px) {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}

.arrow {
  width: 100%;
  height: 100%;
}

.hide {
  opacity: 0;
  transition: .9s opacity ease-in-out;
}

.visible {
  opacity: 1;
}

/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .7);

  &__container {
    margin: 0 auto;
  }

  &__menu {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  &__color {
    background-color: rgba(0, 0, 0, .9);
  }
}

.menu {
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }

  &__item {
    font-size: 20px;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 0px 40px;
  }

  &__logo {
    width: 160px;
  }
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1110px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }

  .menu__body {
    text-align: center;
    flex-direction: column;
    gap: 50px 0px;
  }

  .menu__list {
    flex-direction: column;
    gap: 30px 0px;
    font-size: 35px;
  }

  .menu__contacts {
    font-size: 35px;
  }

  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 40px;
  }
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}

.page__home {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  min-height: 100vh;
}

.home {
  &__body {
    padding: 150px 20% 100px;
    text-align: center;
    position: relative;
    z-index: 2;
    min-width: 300px;

    @media (max-width: 767px) {
      padding: 150px 10% 100px;
    }

    @media (max-width: 375px) {
      padding: 150px 20px 100px 20px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;

    @media (max-width: 1024px) {
      font-size: 42px;
    }

    @media (max-width: 850px) {
      font-size: 36px;
    }

    @media (max-width: 767px) {
      font-size: 30px;
    }

    @media (max-width: 530px) {
      font-size: 25px;
    }
  }

  &__text {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 60px;
  }

  &__image {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}


/*-------------------------------------------------------------*/
/*-----Comments------------------------------------------------*/
/*-------------------------------------------------------------*/
.comments {
  background-color: #f2f2f2;
  overflow: auto;
}

.comments__container {
  padding-bottom: 40px;
}

.comments__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px 50px;
  margin: 20px auto 0;
  max-width: 1100px;
  padding: 30px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.comments__image {
  max-width: 360px;
  max-height: 360px;
  border-radius: 5px;

  @media (max-width: 430px) {
    width: 95%;
    height: 95%;
  }
}

.comments__text-image {
  max-width: 560px;
  line-height: 160%;
}

.comments__position {
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/

.about__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__text-image {
  max-width: 580px;
  line-height: 160%;
}

.about__paragraph {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.about__list {
  padding-left: 40px;
  margin-bottom: 20px;
}

.about__image {
  max-width: 360px;
  border-radius: 5px;
}

.about__item {
  list-style-type: disc;
  margin-right: 10px;
}

.about__video {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__youtube-video {
  flex: 1 1 70%;
  max-width: 660px;
}

.about__youtube-video iframe {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__text-video {
  max-width: 360px;
  line-height: 160%;
}

/*-------------------------------------------------------------*/
/*-----Statistics----------------------------------------------*/
/*-------------------------------------------------------------*/

.page__statistics {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  position: relative;
  min-height: 100vh;
  background-color: rgba($black-color, .2)
}

.statistics {
  &__body {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: 800px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 40px 40px;
    text-align: center;
  }

  &__item {
    flex: 1 1 30%;
  }

  &__number {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__text {
    margin: auto;
    max-width: 500px;
    font-size: 20px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: brightness(40%);
  }
}

/*-------------------------------------------------------------*/
/*-----Methodology---------------------------------------------*/
/*-------------------------------------------------------------*/

.methodology {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 90%;

    @media (max-width: 730px) {
      gap: 30px;
      flex-wrap: wrap;
      max-width: 730px;
    }
  }

  &__text {
    font-size: 20px;

    @media (max-width: 730px) {
      text-align: center;
    }
  }

  &__button {
    @media (max-width: 600px) {
      padding: 25px 55px;
      font-size: 22px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Map-----------------------------------------------------*/
/*-------------------------------------------------------------*/
.map__container {
  margin-top: 100px;
}

/*-------------------------------------------------------------*/
/*-----Best----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__best {
  padding: 1px 0 70px;
  background-color: #f2f2f2;
  overflow: auto;
}

.best__container {
  position: relative;
}

.best__title {
  max-width: 640px;
}

.best__item {
  display: flex;
}

.best__item:nth-child(even) {
  flex-direction: row-reverse;
  position: absolute;
  width: inherit;
  right: 10;
}

.best__item:nth-child(2) {
  top: 172px;
}

.best__item:nth-child(4) {
  top: 546px;
}

.city__subtitle {
  position: relative;
  padding-top: 80px;

  &--even {
    padding-top: 240px;
  }
}

.city__image {
  width: 260px;
  height: 340px;
  margin-bottom: 34px;
  object-fit: cover;
  border-radius: 5px;
}

.city__place {
  color: #6f80ff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.city__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.city__line--400,
.city__line--300 {
  display: none;
}

@media (max-width: 1150px) {
  .best__item:nth-child(4) {
    top: 495px;
  }

  .city__image {
    width: 229px;
    height: 300px;
    margin-bottom: 28px;
  }

  .city__subtitle {
    padding-top: 60px;

    &--even {
      padding-top: 202px;
    }
  }

  .city__line--564 {
    display: none;
  }

  .city__line--400 {
    display: inline-block;
  }

  .city__title {
    font-size: 24px;
  }
}

@media (max-width: 935px) {
  .best__item:nth-child(4) {
    top: 475px;
  }

  .city__image {
    width: 214px;
    height: 280px;
    margin-bottom: 26px;
  }

  .city__subtitle {
    padding-top: 50px;

    &--even {
      padding-top: 173px;
    }
  }

  .city__line--400 {
    display: none;
  }

  .city__line--300 {
    display: inline-block;
  }

  .city__title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .page__best {
    padding-bottom: 0;
  }

  .best__item:nth-child(even) {
    position: static;
  }

  .best__item,
  .best__item:nth-child(even) {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .city__subtitle {
    position: static;
    display: block;
    padding-top: 10px;

    &--even {
      padding-top: 10px;
    }
  }

  .city__image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 280px;
    margin-bottom: 0;
  }

  .city__title {
    font-size: 20px;
  }
}

@media (max-width: 366px) {
  .city__line--300 {
    width: 100%;
  }
}

/*-------------------------------------------------------------*/
/*-----Download------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__download {
  color: $white-color;
  padding: 100px 0px;
  position: relative;
  background-position: center;
  min-height: 400px;
  background-color: rgba($black-color, .2)
}

.download {
  &__body {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: 800px;
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 900px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 25px 50px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: brightness(40%);
  }
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__team {
  background-color: #141414;
  color: $white-color;
  padding: 50px 0px;

  @media (max-width: 1024px) {
    padding: 30px 0px;
  }

  @media (max-width: 530px) {
    padding: 10px 0px;
  }
}

.team__title {
  font-size: 48px;
  max-width: 1100px;

  @media (max-width: 1024px) {
    font-size: 42px;
  }

  @media (max-width: 850px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (max-width: 530px) {
    font-size: 25px;
  }
}

.team__subtitle {
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;

  @media (max-width: 1024px) {
    font-size: 30px;
    margin-bottom: 40px;
  }

  @media (max-width: 850px) {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.team__list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 90px;
}

.team__item {
  flex: 0 1 25%;
}

.employee__image {
  border-radius: 5px;
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.employee__initials {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.employee__position {
  font-size: 20px;
  line-height: 130%;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}

/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  padding: 30px;
  background-color: $black-color;
  color: $white-color;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 30px 0px;
  }

  &__logo {
    max-width: 250px;
    margin-bottom: 30px;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 150%;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;

  .social__item svg {
    width: 40px;
    height: 40px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}