@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._main-title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 20px auto 40px;
  text-align: center;
}

@media (max-width: 600px) {
  ._main-title {
    font-size: 32px;
  }
}

._highlight {
  color: #6f80ff;
}

._link {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

._link:hover {
  color: #6f80ff;
}

._button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 500px;
  font-size: 20px;
  padding: 20px 50px;
  background-color: #6f80ff;
  color: #ffffff;
  font-weight: 600;
}

._button:hover {
  background-color: #ffffff;
  color: #6f80ff;
}

/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__menu {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__color {
  background-color: rgba(0, 0, 0, 0.9);
}

.menu {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 30px;
}

.menu__item {
  font-size: 20px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 40px;
}

.menu__logo {
  width: 160px;
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/
.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1110px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }
  .menu__body {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0px;
    font-size: 35px;
  }
  .menu__contacts {
    font-size: 35px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }
  .menu__link {
    font-size: 40px;
  }
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__home {
  position: relative;
  color: #ffffff;
  background-color: #000000;
}

.home__body {
  padding: 150px 20% 100px;
  text-align: center;
  position: relative;
  z-index: 2;
  min-width: 300px;
}

@media (max-width: 767px) {
  .home__body {
    padding: 150px 10% 100px;
  }
}

@media (max-width: 375px) {
  .home__body {
    padding: 150px 20px 100px 20px;
  }
}

.home__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 130%;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .home__title {
    font-size: 42px;
  }
}

@media (max-width: 850px) {
  .home__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .home__title {
    font-size: 30px;
  }
}

@media (max-width: 530px) {
  .home__title {
    font-size: 25px;
  }
}

.home__button {
  font-size: 26px;
  padding: 30px 60px;
  border-radius: 60px;
}

.home__text {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 60px;
}

.circle {
  position: absolute;
  background: #6f80ff;
  border-radius: 50%;
  z-index: -10;
}

@media (max-width: 767px) {
  .circle {
    display: none;
  }
}

.circle--item1 {
  width: 270px;
  height: 270px;
  top: 310px;
  left: 45px;
}

@media (max-width: 1180px) {
  .circle--item1 {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 1125px) {
  .circle--item1 {
    width: 190px;
    height: 190px;
  }
}

.circle--item2 {
  width: 130px;
  height: 130px;
  top: 130px;
  right: 30px;
}

.circle--item3 {
  width: 200px;
  height: 200px;
  top: 385px;
  right: 128px;
}

@media (max-width: 1180px) {
  .circle--item3 {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 1125px) {
  .circle--item3 {
    width: 130px;
    height: 130px;
  }
}

.circle--item4 {
  width: 80px;
  height: 80px;
  top: 110px;
  left: 250px;
}

/*-------------------------------------------------------------*/
/*-----Comments------------------------------------------------*/
/*-------------------------------------------------------------*/
.comments {
  background-color: #f2f2f2;
}

.comments__container {
  padding-bottom: 40px;
}

.comments__title {
  padding-top: 20px;
}

.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 40px;
  margin: 40px auto 0;
  max-width: 1100px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.comments__image {
  max-width: 360px;
  max-height: 360px;
  border-radius: 5px;
}

.comments__text-image {
  max-width: 560px;
  line-height: 160%;
}

.comments__position {
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__text-image {
  max-width: 580px;
  line-height: 160%;
}

.about__paragraph {
  margin-bottom: 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__list {
  padding-left: 40px;
  margin-bottom: 20px;
}

.about__image {
  max-width: 360px;
  border-radius: 5px;
}

.about__item {
  list-style-type: disc;
  margin-right: 10px;
}

.about__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__youtube-video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  max-width: 660px;
}

.about__youtube-video iframe {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__text-video {
  max-width: 360px;
  line-height: 160%;
}

/*-------------------------------------------------------------*/
/*-----Statistics----------------------------------------------*/
/*-------------------------------------------------------------*/
.page__statistics {
  color: #ffffff;
  padding: 100px 0px;
  position: relative;
}

.statistics__body {
  position: relative;
  z-index: 2;
}

.statistics__title {
  max-width: 800px;
}

.statistics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 40px;
  text-align: center;
}

.statistics__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.statistics__number {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}

.statistics__text {
  max-width: 500px;
  font-size: 20px;
}

.statistics__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

/*-------------------------------------------------------------*/
/*-----Map-----------------------------------------------------*/
/*-------------------------------------------------------------*/
.map__container {
  padding-top: 10px;
  padding-bottom: 50px;
}

/*-------------------------------------------------------------*/
/*-----Best----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__best {
  padding: 30px 0px 70px;
  background-color: #f2f2f2;
}

.best__container {
  position: relative;
}

.best__title {
  max-width: 640px;
}

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  width: inherit;
  right: 10;
}

.best__item:nth-child(2) {
  top: 172px;
}

.best__item:nth-child(4) {
  top: 546px;
}

.city__subtitle {
  position: relative;
  padding-top: 80px;
}

.city__subtitle--even {
  padding-top: 240px;
}

.city__image {
  width: 260px;
  height: 340px;
  margin-bottom: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.city__place {
  color: #6f80ff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.city__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.city__line--400,
.city__line--300 {
  display: none;
}

@media (max-width: 1150px) {
  .best__item:nth-child(4) {
    top: 495px;
  }
  .city__image {
    width: 229px;
    height: 300px;
    margin-bottom: 28px;
  }
  .city__subtitle {
    padding-top: 60px;
  }
  .city__subtitle--even {
    padding-top: 202px;
  }
  .city__line--564 {
    display: none;
  }
  .city__line--400 {
    display: inline-block;
  }
  .city__title {
    font-size: 24px;
  }
}

@media (max-width: 935px) {
  .best__item:nth-child(4) {
    top: 475px;
  }
  .city__image {
    width: 214px;
    height: 280px;
    margin-bottom: 26px;
  }
  .city__subtitle {
    padding-top: 50px;
  }
  .city__subtitle--even {
    padding-top: 173px;
  }
  .city__line--400 {
    display: none;
  }
  .city__line--300 {
    display: inline-block;
  }
  .city__title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .best__item:nth-child(even) {
    position: static;
  }
  .best__item,
  .best__item:nth-child(even) {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .city__subtitle {
    position: static;
    display: block;
    padding-top: 10px;
  }
  .city__subtitle--even {
    padding-top: 10px;
  }
  .city__image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 280px;
    margin-bottom: 0;
  }
  .city__title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .best__item,
  .best__item:nth-child(even) {
    width: 95%;
    margin: 0 auto 30px auto;
  }
}

/*-------------------------------------------------------------*/
/*-----Download------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__download {
  color: #ffffff;
  padding: 100px 0px;
  position: relative;
}

.download__body {
  position: relative;
  z-index: 2;
}

.download__title {
  max-width: 800px;
  font-size: 48px;
  margin-bottom: 40px;
}

.download__subtitle {
  max-width: 900px;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}

.download__button {
  display: block;
  margin: 0 auto;
  font-size: 22px;
  padding: 25px 50px;
  border-radius: 60px;
}

.download__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__team {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0px;
}

.team__title {
  font-size: 48px;
  max-width: 1100px;
}

.team__subtitle {
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 70px;
}

.team__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.employee__image {
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.employee__initials {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.employee__position {
  font-size: 20px;
  line-height: 130%;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}

/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  padding: 30px;
  background-color: #000000;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 30px 0px;
}

.footer__logo {
  max-width: 250px;
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}

.footer__text:last-child {
  margin-bottom: 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.social .social__item svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social .social__item svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */