@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
$blue-color: #6f80ff;
$white-color: #ffffff;
$black-color: #000000;

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

._main-title {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  @media (max-width: 600px) {
    font-size: 32px;
  }
}

._highlight {
  color: $blue-color;
}
._link {
  color: $white-color;
  transition: 0.3s;
  &:hover {
    color: $blue-color;
  }
}

._button {
  transition: 0.3s;
  max-width: 500px;
  font-size: 20px;
  padding: 20px 50px;
  background-color: $blue-color;
  color: $white-color;
  font-weight: 600;
  &:hover {
    background-color: $white-color;
    color: $blue-color;
  }
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;

  &:hover {
    background: #37407f;
  }
}

/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .7);
  &__menu {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header{
  &__color{
      background-color: rgba(0, 0, 0, .9);
  }
}
.menu {
  width: 100%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }
  &__item {
    font-size: 24px;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 0px 40px;
  }
  &__logo {
    width: 200px;
  }
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1110px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }

  .menu__body {
    text-align: center;
    flex-direction: column;
    gap: 50px 0px;
  }
  .menu__list {
    flex-direction: column;
    gap: 30px 0px;
    font-size: 35px;
  }

  .menu__contacts {
    font-size: 35px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 40px;
  }
}


/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}
.page__home {
  position: relative;
  color: $white-color;
}
.home {
  &__body {
    padding: 150px 20px 100px 80px;
    position: relative;
    z-index: 2;
    max-width: 690px;
    @media (max-width: 375px) {
      padding: 150px 20px 100px 20px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 70px;
    line-height: 130%;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      font-size: 55px;
    }
    @media (max-width: 530px) {
      font-size: 40px;
    }
    @media (max-width: 442px) {
      font-size: 26px;
    }
  }
  &__text {
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 60px;
  }
  &__image {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
/*-------------------------------------------------------------*/
/*-----Comments------------------------------------------------*/
/*-------------------------------------------------------------*/
.comments {
  padding: 120px 0px;
}
.comments__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
  margin-bottom: 40px;
}
.comments__image {
  max-width: 360px;
  max-height: 360px;
  border-radius: 5px;
}

.comments__text-image {
  max-width: 560px;
  line-height: 160%;
}
.comments__position {
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/

.about__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}
.about__text-image {
  max-width: 580px;
  line-height: 160%;
}
.about__paragraph {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.about__list {
  padding-left: 40px;
  margin-bottom: 20px;
}
.about__image {
  max-width: 360px;
  border-radius: 5px;
}
.about__item {
  list-style-type: disc;
  margin-right: 10px;
}

.about__video {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}
.about__youtube-video {
  flex: 1 1 70%;
  max-width: 660px;
}
.about__youtube-video iframe {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about__text-video {
  max-width: 360px;
  line-height: 160%;
}
/*-------------------------------------------------------------*/
/*-----Statistics----------------------------------------------*/
/*-------------------------------------------------------------*/

.page__statistics {
  color: $white-color;
  padding: 155px 0px;
  position: relative;
  margin-bottom: 120px;
}
.statistics {
  &__body {
    position: relative;
    z-index: 2;
  }
  &__title {
    max-width: 800px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 40px 40px;
    text-align: center;
  }
  &__item {
    flex: 1 1 30%;
  }
  &__number {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 500px;
    font-size: 20px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: brightness(40%);
  }
}

/*-------------------------------------------------------------*/
/*-----Map-----------------------------------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*-----Best----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__best {
  padding: 150px 0px 95px 0px;
  margin-bottom: 40px;
}

.best__container {
  position: relative;
}

.best__title {
  max-width: 640px;
}

.best__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.city__image {
  width: 260px;
  height: 340px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 5px;
}
.city__place {
  color: #6f80ff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.city__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

/*-------------------------------------------------------------*/
/*-----Download------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__download {
  color: $white-color;
  padding: 155px 0px;
  position: relative;
}
.download {
  &__body {
    position: relative;
    z-index: 2;
  }
  &__title {
    max-width: 800px;
    font-size: 48px;
    margin-bottom: 40px;
  }
  &__subtitle {
    max-width: 900px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
  }
  &__button {
    display: block;
    margin: 0 auto;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: brightness(40%);
  }
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__team {
  background-color: $black-color;
  color: $white-color;
  padding: 120px 0px;
}
.team__title {
  font-size: 48px;
  max-width: 1100px;
}

.team__subtitle {
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.team__list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 60px;
}
.team__item {
  flex: 0 1 25%;
}
.employee__image {
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.employee__initials {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.employee__position {
  font-size: 20px;
  line-height: 130%;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}

/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  background-color: $black-color;
  color: $white-color;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 30px 0px;
  }
  &__logo {
    max-width: 250px;
    margin-bottom: 30px;
  }

  &__social {
    margin-bottom: 40px;
  }
  &__text {
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 150%;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;

  .social__item svg {
    width: 40px;
    height: 40px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}