@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----HEADER--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__menu {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__color {
  background-color: rgba(0, 0, 0, 0.9);
}

.menu {
  width: 100%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 30px;
}

.menu a:focus {
  -webkit-box-shadow: 0 0 5px 5px #6f80ff;
          box-shadow: 0 0 5px 5px #6f80ff;
}

.menu__logo {
  width: 200px;
}

.menu__item {
  font-size: 24px;
}

.menu__item a {
  padding: 5px;
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/
body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1150px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }
  .menu__body {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px 0px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px 0px;
    font-size: 35px;
  }
  .menu__contacts {
    font-size: 35px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }
  .menu__link {
    font-size: 40px;
  }
}

/*--------------------------------------------------------*/
/*-----FOOTER---------------------------------------------*/
/*--------------------------------------------------------*/
.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.footer__item a {
  display: block;
  margin-bottom: 30px;
}

.footer__item a:focus {
  -webkit-box-shadow: 0 0 5px 5px #6F81FF;
          box-shadow: 0 0 5px 5px #6F81FF;
}

.footer__logo {
  max-width: 250px;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}

.footer__text:last-child {
  margin-bottom: 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.social__item svg {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__item svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social__item a {
  border-radius: 50%;
  display: block;
}

.social__item a:focus {
  -webkit-box-shadow: 0 0 5px 7px #6F81FF;
          box-shadow: 0 0 5px 7px #6F81FF;
}

/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

._styled-marker {
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px black;
  cursor: pointer;
  background-image: url("../assets/img/circle.svg");
}

._styled-popup .mapboxgl-popup-content {
  opacity: 0.7;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffffff;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  ._title {
    font-size: 32px;
  }
}

._highlight {
  color: #6f80ff;
}

._link {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

._link:hover {
  color: #6f80ff;
}

._button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  max-width: 500px;
  font-size: 20px;
  padding: 20px 50px;
  background-color: #6f80ff;
  color: #ffffff;
  font-weight: 600;
}

._button:hover {
  background-color: #ffffff;
  color: #6f80ff;
}

._button:focus {
  -webkit-box-shadow: 0 0 5px 5px #8BCCFF;
          box-shadow: 0 0 5px 5px #8BCCFF;
}

/*-------------------------------------------------------------*/
/*-----Scroll Bar----------------------------------------------*/
/*-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #6f80ff;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #37407f;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__home {
  position: relative;
  color: #ffffff;
}

.home__body {
  padding: 150px 20px 100px 80px;
  position: relative;
  z-index: 2;
  max-width: 690px;
}

@media (max-width: 375px) {
  .home__body {
    padding: 150px 20px 100px 20px;
  }
}

.home__title {
  font-weight: bold;
  font-size: 70px;
  line-height: 130%;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .home__title {
    font-size: 55px;
  }
}

@media (max-width: 530px) {
  .home__title {
    font-size: 40px;
  }
}

@media (max-width: 442px) {
  .home__title {
    font-size: 26px;
  }
}

.home__text {
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 60px;
}

.home__image {
  position: absolute;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*-------------------------------------------------------------*/
/*-----Comments------------------------------------------------*/
/*-------------------------------------------------------------*/
.comments {
  padding: 120px 0px;
}

.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 40px;
  margin-bottom: 40px;
}

.comments__image {
  max-width: 360px;
  max-height: 360px;
  border-radius: 5px;
}

.comments__text-image {
  max-width: 560px;
  line-height: 160%;
}

.comments__position {
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__text-image {
  max-width: 580px;
  line-height: 160%;
}

.about__paragraph {
  margin-bottom: 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__list {
  padding-left: 40px;
  margin-bottom: 20px;
}

.about__image {
  max-width: 360px;
  border-radius: 5px;
}

.about__item {
  list-style-type: disc;
  margin-right: 10px;
}

.about__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 90px;
}

.about__youtube-video {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  max-width: 660px;
}

.about__youtube-video iframe {
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__text-video {
  max-width: 360px;
  line-height: 160%;
}

/*-------------------------------------------------------------*/
/*-----Statistics----------------------------------------------*/
/*-------------------------------------------------------------*/
.page__statistics {
  color: #ffffff;
  padding: 155px 0px;
  position: relative;
  margin-bottom: 120px;
}

.statistics__body {
  position: relative;
  z-index: 2;
}

.statistics__title {
  max-width: 800px;
}

.statistics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 40px;
  text-align: center;
}

.statistics__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
}

.statistics__number {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}

.statistics__text {
  max-width: 500px;
  font-size: 20px;
}

.statistics__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

/*-------------------------------------------------------------*/
/*-----Map-----------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----Best----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__best {
  padding: 150px 0px 95px 0px;
  margin-bottom: 40px;
}

.best__container {
  position: relative;
}

.best__title {
  max-width: 640px;
}

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 40px;
}

.city__image {
  width: 260px;
  height: 340px;
  margin-bottom: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.city__place {
  color: #6f80ff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.city__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

/*-------------------------------------------------------------*/
/*-----Download------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__download {
  color: #ffffff;
  padding: 155px 0px;
  position: relative;
}

.download__body {
  position: relative;
  z-index: 2;
}

.download__title {
  max-width: 800px;
  font-size: 48px;
  margin-bottom: 40px;
}

.download__subtitle {
  max-width: 900px;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}

.download__button {
  display: block;
  margin: 0 auto;
}

.download__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__team {
  background-color: #000000;
  color: #ffffff;
  padding: 120px 0px;
}

.team__title {
  font-size: 48px;
  max-width: 1100px;
}

.team__subtitle {
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 60px;
}

.team__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.employee__image {
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.employee__initials {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.employee__position {
  font-size: 20px;
  line-height: 130%;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}
